.messreg
{
    width: 40vw !important;
    margin-top: 20px !important;
}

.messInfo
{
    margin-top: 20px;
    border: 1px dotted black;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
}