.detailsWrapper{
    padding: 1.5rem;
}

.messName{
    margin: 10rem 0 0 0;
    text-align: start;
    font-size: 2.5rem;
    font-weight: bolder;
}

.table{
    width: 85%;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
}

tr:hover{
    background-color:#00306f41;
}

@media (max-width: 600px){
    .table{
        margin:auto
    }
    .messName{
        margin-left: 2.5rem;
    }
}