.detailsWrapper{
    padding: 1.5rem;
}

.details-header{
    /* margin: 4rem 0 0 0; */
    text-align: start;
    font-size: 2.5rem;
    font-weight: bolder;
}

.menuInfo{
    position: relative;
}

.table-wrapper{
    width: 85%;
    margin: auto;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
    border: .15rem solid var(--accent);
}

.table-wrapper .table {
    margin:0;
}


thead{
    background-color: var(--accent);
    color: white;
}


th{
    padding: 1rem 1.25rem !important;
}

tr:hover{
    background-color:#00306f41;
}

.editMenuButton{
    position: absolute;
    right: 0;
    bottom: -5rem;
    height: 4rem;
    width: 4rem;
    background-color: var(--accent);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
    border: none;
    border-radius: 50%;
}

.editMenuButton:hover{
    transform: scale(1.09);
}


.button-row{
    width:85%;
    margin-bottom: 5rem;
}

@media (max-width: 740px){
    .table-wrapper{
        overflow-x: scroll;
    }
}


@media (max-width: 600px){
    .table{
        margin:auto
    }
    .details-header{
        margin: .5rem 0;
    }
    .button-row{
        margin-top:1.75rem;
        width:100%;
    }
    
}