.dashboardWrapper
{
    padding-left: 10px;
}

.header{
    padding-top: 1.25rem;
    margin-bottom: 5rem;
    width: 100%;
}

.bi{
    font-size: 1.5rem;
}

.info{
    width: 100%;
}

.userInfo,.dummyInfo
{
    margin: 1rem;
    background-color: white;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
    padding: 3rem 1.5rem;
    border-radius: 3px;
}

.email{
    overflow: hidden;
    text-overflow: ellipsis;
}

.secondDummyInfo{
    margin: 1rem 0;
}

.test{
    height: 50%;
    background-color: white;
    margin:.25rem;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
}

.name{
    color: #00306f;
    font-size: 1.5rem;
    font-weight: bold;
}

.annWrapper
{
    max-height: 20rem;
    overflow-y: scroll;
    border-radius: 3px;
    background-color: white;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
    padding:3rem;
}

.annAuthor
{
    display: inline;
    font-weight: bolder;
}

.annRole
{
    display: inline;
    margin-left: 10px;
    border: 1px blue solid;
    padding: .19rem;
    border-radius: 5px;
    font-size: small;
    font-weight: 500;
}

.annTitle
{
    font-size: 2.5rem;
    font-weight: bold;
}

.annTime
{
    font-size: 14px;
    float: right;
}

@media (max-width:600px)
{
    .info{
        margin-left: 0;
        font-size: .85rem;
    }

    .footer{
        padding-top: 6.5rem;
    }

    .dashboardWrapper{
        padding-left: 0;
    }
}