.dashboardWrapper
{
    padding-left: 10px;
}

.header{
    padding-top: 1.25rem;
    margin-bottom: 5rem;
    width: 100%;
}

.bi{
    font-size: 1.5rem;
}

.info{
    width: 100%;
}

.info > *{
    padding: 1rem 1rem 0;
}

.user-info,.current-fees
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
    padding: 1rem;
    border-radius: 3px;
}

.current-fees{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.email{
    overflow: hidden;
    text-overflow: ellipsis;
}


#pending-fee,
#next-meal{
    /* height: 50%; */
    background-color: white;
    margin:.25rem;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
}

.name{
    color: #00306f;
    font-size: 1.5rem;
    font-weight: bold;
}

.fees-status{
    background-color: var(--accent-blue);
    color: white;
    margin:.25rem;
    padding: .25rem 0;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.annWrapper
{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    background-color: white;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.123);
    padding:3rem;
}

/* .announcement-table{
    max-height: 20rem;
    overflow: scroll;
} */

.announcement-table .table{
    border: 0.15rem solid var(--accent-blue);
    margin: auto;
}

.annAuthor
{
    display: inline;
    font-weight: bolder;
}

.annRole
{
    display: inline;
    margin-left: 10px;
    border: 1px blue solid;
    padding: .19rem;
    border-radius: 5px;
    font-size: small;
    font-weight: 500;
}

.annTitle
{
    font-size: 2.5rem;
    font-weight: bold;
}

.annTime
{
    font-size: 14px;
    float: right;
}

.footer{
    padding-top: 6.5rem;
}

@media (max-width:600px)
{
    .info{
        margin-left: 0;
        font-size: .85rem;
    }

    .dashboardWrapper{
        padding-left: 0;
    }
}