*{
    /* --accent-blue : #00306f; */
    --accent : #5634b4;
    --accent-dark: #3f2094;
}

.homeWrapper{
    background-color: #f7f8fa;
    min-height: 100vh;
}

.homeContent
{
    margin-left: 15rem;
}

@media (max-width:600px){
    .homeContent{
        margin-left: 0;
    }
}

/* @media(max-width:600px) and (max-height: 600px){
    .footer{
        padding-top: 6.5rem;
    }
} */